---

- name: configure vm
  hosts: vm

  roles:
    - role: oefenweb.fail2ban
      become: yes
      vars:
        fail2ban_services:
          - name: sshd
            maxretry: 5
            bantime: 1h
    - role: dev-sec.ssh-hardening
      become: yes
      vars:
        ssh_server_password_login: false
        ssh_permit_root_login: "no"
        sftp_enabled: true
        ssh_print_last_log: true

  vars_files:
    - ansible_vars.yaml

  tasks:
    - name: Wait for cloud init to finish
      wait_for:
        path: /var/lib/cloud/instance/boot-finished

    - name: Configure users
      block:
        - name: Create users
          user:
            name: "{{ item.username }}"
            comment: "{{ item.name }}"
            state: present
          loop: "{{ users }}"
          when: item.enabled

        - name: Disable users
          user:
            name: "{{ item.username }}"
            comment: "{{ item.name }}"
            state: absent
          loop: "{{ users }}"
          when: not item.enabled

        - name: Add users public keys
          authorized_key:
            user: "{{ item.username }}"
            key: "{{ lookup('file', item.keyfile) }}"
            state: present
          loop: "{{ users }}"
          when: item.enabled

        - name: Add admin users to the admin group
          user:
            name: "{{ item.username }}"
            append: true
            groups: admin
          loop: "{{ users }}"
          when: item.admin and item.enabled
      become: yes
      when: users is defined

    - name: Allow users in the admin group to sudo without a password
      lineinfile:
        path: /etc/sudoers
        state: present
        regexp: '^%ADMIN ALL='
        line: '%ADMIN ALL=(ALL) NOPASSWD: ALL'
        validate: /usr/sbin/visudo -cf %s
      become: yes

    - name: Install selected packages
      apt:
        name: "{{ apt_packages }}"
        state: present
        update_cache: yes
      become: yes
      when: apt_packages is defined
