---
# Users to create
#
# Declare each user as a new list item. Each user requires the following keys,
#   - name: Full name
#   - username: Linux username (used to login)
#   - password: A password hash for the user (required for sudo). See
#               https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#how-do-i-generate-encrypted-passwords-for-the-user-module
#               or use scripts/generate_password.py to create a suitable hash.
#   - ssh_key: A list of the users public ssh key(s). List items can take a number of forms,
#                1. A string of a single public key (with no newlines)
#                2. A url of the public keys associated with a GitHub account
#                   "https://github.com/<username>.keys"
#                3. A jinja2 template to fetch key(s) from a file
#                   "{{ lookup('file', '/home/harry/.ssh/id_rsa.pub') }}"
#              Examples of all three are given below.
#   - groups: A list of groups to add the user to in addition to their default
#             group, add users to the "admin" group to allow them to use sudo
#   - append: If "yes" append the user to the groups in the groups list,
#             otherwise replace all current groups with those in the list
# Additional keys to configure users can be found here:
# https://galaxy.ansible.com/singleplatform-eng/users
#
# Default: []
#
# Example:
# users:
#   - name: Harry Lime
#     username: harry
#     password: "$6$AHWU2/Si7zYj7cuJ$qiBAb03b6BdNM7Zjek1vhmmFlzGRDrIyj2H5Fz2jwx/pshy7XrZFrKc8owUGKwT1lmW3x9zANFdryR4MuDT1I/"
#     ssh_key:
#       - "ssh-rsa ..."
#       - "https://github.com/harrylime.keys"
#       - "{{ lookup('file', '/home/harry/.ssh/id_rsa.pub') }}"
#     groups: [admin]
#     append: yes

# Users to disable or delete
#
# Declare each user as a new list item. Each item has the following keys,
#   - username: Linux username
#   - remove: If "yes" the users data (home directory, etc.) will be removed
#   - force: If "yes" force the removal (useful if the users is running a
#            command)
#
# Default: []
#
# Example:
# users_deleted:
#   - username: harry
#     remove: no
#     force: yes


# Ubuntu packages to install.
#
# Each package is a list item. You can find all of the available packages at
# https://packages.ubuntu.com/focal/
#
# Default: []
#
# Example:
# apt_packages:
#   - vim
#   - git


# Snap packages to install.
#
# Each package is a list item. Declare a packages as a dictionary with the
# following keys,
#   - name: package name
#   - classic: if "yes" install the snap will classic confinement
#
# You can see packages available as snaps at https://snapcraft.io/. When you
# select a snap you can click on the green "Install" button to see the snap's name and whether it should use classic confinement.
#
# Default: []
#
# Example:
# snap_packages:
#   - name: lxd
#   - name: julia
#     classic: yes
#   - name: go
#     classic: yes


# Pip packages
#
# Each package is a list item.  Declare a package as a dictionary with the
# following keys,
#   - name: package name
#   - version: package version e.g. "1.2.3" or "latest" (default: latest)
#   - state: one of present, absent, or forcereinstall (default: present)
#
# Packages are install from https://pypi.org
#
# Default: []
#
# Example:
# pip_packages:
#   - name: pytest
#   - name: flake8
#     version: "3.8.4"
#     state: present
#   - name: meshio


# Enforce TOTP authentication and create a TOTP hash for every user.
#
# Default: false
#
# Example:
# totp: true

# Install docker
#
# Default: false
#
# Example:
# docker: true


# Users to add to the docker group (required to use commands like `docker run`)
#
# Default: []
#
# Example:
# docker_users: [harry]
