---
name: CI

on: [push, pull_request]

jobs:
  ansible_lint:
    name: 'Ansible lint'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Lint Ansible Playbook
        uses: ansible/ansible-lint-action@master
        with:
          targets: "playbook.yaml"

  yaml_lint:
    name: 'YAML lint'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: YAML Lint
        uses: ibiqlik/action-yamllint@v2.0.0
        with:
          file_or_dir: .
        config_data: |
          extends: default
          rules:
            line-length:
              max: 80
              level: warning

  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -check -diff
